.Light_Theme {
  --background-main: #ffffff !important;
  --background-secondary: #f0f0f0 !important;
  --text-color: #000000;
  --channel-logo-bg: rgb(224, 227, 214);
  --video-bg: #eeeeee;
  --dot-color: black;
}

.Dark_Theme {
  --background-main: #131313;
  --background-secondary: #1a1a1a;
  --text-color: #ffffff;
  --channel-logo-bg: rgb(224, 227, 214);
  --video-bg: rgba(8, 8, 8, 0.662);
  --dot-color: white;
}

.Channel_Logo_App {
  width: 2.2rem;
  height: 2.2rem;
  margin: auto;
  border-radius: 100%;
  background-color: var(--channel-logo-bg);
  display: flex;
}

.First_Char_Logo_App {
  margin: auto;
  color: var(--text-color);
  font-weight: bolder;
  cursor: pointer;
}

.Container_Pages_App {
  display: flex;
  background-color: var(--background-main);
}

.Container2_Pages_App {
  width: calc(100vw - 5rem);
  height: calc(100vh - 3.65rem);
  border-top: 2px solid rgb(128, 128, 128, 0.45);
  overflow-y: auto;
  background-color: var(--background-main);
  color: var(--text-color);
}

.Video_Box_App {
  width: 21rem;
  height: 17rem;
  margin-bottom: 1rem;
  border: 2px solid transparent;
  background-color: var(--background-main);
}

video {
  background-color: var(--video-bg);
}

.Dot {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background-color: var(--dot-color);
  margin: auto 0.5rem;
}
