.Dark_Theme {
  --lib-text-color: aliceblue;
  --lib-title-color: #ffffff;
  --lib-border-color: grey;
}

.Light_Theme {
  --lib-text-color: #1e1e1e;
  --lib-title-color: #111111;
  --lib-border-color: #cccccc;
}

.Container_LibraryPage {
  border-bottom: 1px solid var(--lib-border-color);
  padding: 1rem 2rem;
  color: var(--lib-text-color);
}

.Title_Container_LibraryPage {
  margin: 0.5rem 4rem;
}

.Title_Container_LibraryPage b {
  margin: auto 0.5rem;
  padding: auto 0.5rem;
  font-size: medium;
  color: var(--lib-title-color);
}

.Container_VideoList_LibraryPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  max-height: 80vh;
  overflow-y: auto;
}
