.Container_LeftSideBar {
  background-color: rgb(37, 37, 37);
  width: 4.7rem;
  height: calc(100vh - 3.55rem);
  box-sizing: border-box;
  overflow-y: auto;
}

.Icon_SideBar_Div {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.855);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.Icon_SideBar {
  margin: auto;
}

.Text_SideBar_Icon {
  text-align: center;
  font-weight: 300;
  font-size: 0.85rem;
  padding: 0.2rem;
}

.Icon_SideBar_Div:hover,
.Icon_SideBar_Div.active {
  color: aliceblue;
  background-color: rgb(68, 68, 68);
}

/** drawer sidebar*/
.Container_DrawerLeftSideBar {
  position: absolute;
  display: flex;
  width: 100vw;
  z-index: 500;
}

.Container2_DrawerLeftSideBar {
  height: calc(100vh - 3.6rem);
  overflow-y: auto;
  background-color: rgb(28, 28, 28);
  width: 15rem;
}

.Drawer_LeftSideBar,
.LibraryButton_DrawerLeftSideBar {
  padding-top: 0.5rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.293);
}

.Icon_SideBar_Div p {
  display: flex;
  margin: 0;
}

.Subscriptions_LeftSideBar {
  color: white;
}

.Subscriptions_LeftSideBar h3 {
  text-decoration: underline;
  margin: 20px 10px;
}

.Channel_LeftSideBar {
  display: flex;
  cursor: pointer;
}

.Channel_LeftSideBar:hover {
  color: rgb(77, 77, 243);
}

.Channel_LeftSideBar p {
  border: 1px solid;
  background-color: grey;
  padding: 0.5rem;
  border-radius: 100%;
  margin: 1rem;
}

.Channel_LeftSideBar div {
  margin: auto;
  width: 60%;
}

.Container3_DrawerLeftSideBar {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.488);
}
