.Dark_Theme {
  --navbar-bg: rgb(33, 33, 33);
  --burger-line: rgb(255, 244, 244);
  --logo-color: white;
  --auth-bg: rgb(36, 36, 36);
  --auth-text: #3ea6ff;
  --appbox-border: white;
}

.Light_Theme {
  --navbar-bg: white;
  --burger-line: black;
  --logo-color: black;
  --auth-bg: rgb(240, 240, 240);
  --auth-text: #007acc;
  --appbox-border: black;
}

.Container_Navbar {
  border: 1px solid;
  display: flex;
  height: calc(3.5rem - 2px);
  background-color: var(--navbar-bg);
  justify-content: space-between;
}

.Burger_Logo_Navbar {
  display: flex;
  height: 3.3rem;
}

.Burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-evenly;
  margin: 0.2rem;
  padding: 0.5rem;
  border: 1 px solid transparent;
  margin-left: 0.5rem;
  margin-right: 0.7rem;
  border-radius: 100%;
}

.Burger p {
  margin: 0.5px;
  width: 1.2rem;
  height: 0.1rem;
  background-color: var(--burger-line);
}

.Logo_Div_Navbar {
  display: flex;
  text-decoration: none;
}

.Logo_Title_Navbar {
  margin: auto;
  color: var(--logo-color);
  font-weight: bold;
}

.Apps_Box {
  width: 25px;
  margin: auto 0.7rem;
  height: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.AppBox {
  border: 1px solid var(--appbox-border);
  margin: 0.1rem;
  width: 2px;
  height: 2px;
}

.Auth_Container_Navbar {
  width: fit-content;
  margin: auto 0.5rem;
  position: relative;
  display: flex;
}

.Auth_Button {
  cursor: pointer;
  color: var(--auth-text);
  background-color: var(--auth-bg);
  border: 2px solid;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.1rem;
}
