.Dark_Theme {
  --searchlist-bg: #1e1e1e;
  --searchlist-hover: rgba(255, 255, 255, 0.1);
  --title-color: white;
}

.Light_Theme {
  --searchlist-bg: white;
  --searchlist-hover: rgba(166, 202, 234, 0.516);
  --title-color: black;
}

.Container_SearchList {
  background-color: var(--searchlist-bg);
  width: 90.75%;
  position: absolute;
  top: 2.7rem;
  height: fit-content;
  z-index: 91;
}

.TitleItem {
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--title-color);
}

.TitleItem:hover {
  background-color: var(--searchlist-hover);
}
