.Dark_Theme {
  --video-border: rgba(128, 128, 128, 0.532);
  --video-title: antiquewhite;
  --video-subtext: rgba(250, 235, 215, 0.555);
  --video-text: aliceblue;
}

.Light_Theme {
  --video-border: rgba(180, 180, 180, 0.8);
  --video-title: #222;
  --video-subtext: #555;
  --video-text: #333;
}

.Video_ShowVideo {
  cursor: pointer;
  margin: 0.4rem;
  margin-bottom: 0;
  width: calc(100% - 0.8rem);
  height: 70%;
  border: 1px solid var(--video-border);
}

.Video_Description {
  display: flex;
  height: 4rem;
  margin: auto auto;
}

.Video_Details {
  width: 80%;
  color: var(--video-text);
  padding: 0.1rem;
  margin: 0.1rem;
  height: fit-content;
}

.Title_Video_ShowVideo {
  margin: 0;
  font-size: large;
  font-weight: bolder;
  color: var(--video-title);
  display: flex;
  text-align: clip;
}

.Video_Views_UploadTime {
  font-size: medium;
  color: var(--video-subtext);
  margin: 0.2rem;
  display: flex;
}
